section {
  height: 500px;
  background-color: rgb(46, 46, 46);
  border: solid black 1px;
}

.hero {
  background-color: cadetblue;
  height: 100vh;
}

footer {
  height: 500px;
  background-color: black;
}
